<!-- Navigation Bar -->
<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'>
      <i class='fab fa-icon'></i>
    </a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbar-collapse'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbar-collapse'>
      <ul class='navbar-nav ms-auto'>
        <li class='nav-item'>
          <a class='nav-link' href='/'>
            <i class='fas fa-home'></i>
            Home
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' id='profile-button' href='/profile'>
            <i class='fas fa-user'></i>
            Profile
          </a>
        </li>
        <li class='nav-item'>
          <a
            class='nav-link'
            href='#'
            data-bs-toggle='modal'
            data-bs-target='#exampleModal'
          >
            <i class='fa-solid fa-magnifying-glass'></i>
            Search</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link logout-link' href='/logout'>
            <i class='fas fa-sign-out-alt'></i>
            Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>