<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AnswerHub</title>
  <link
  href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
  rel="stylesheet"
  />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/ai.css">
  <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
{{!-- {{#if logged_in}} --}}
  <nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <div class='container-fluid'>
      <a class='navbar-brand' href='#'>
        <i class='fab fa-icon'></i>
      </a>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbar-collapse'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbar-collapse'>
        <ul class='navbar-nav ms-auto'>
          <li class='nav-item'>
            <a class='nav-link' href='/'>
              <i class='fas fa-home'></i>
              Home
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#'>
              <i class='fas fa-bell'></i>
              Notifications
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#'>
              <i class='fas fa-envelope'></i>
              Messages
            </a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link'
              href='#'
              data-bs-toggle='modal'
              data-bs-target='#exampleModal'
            >
              <i class='fa-solid fa-magnifying-glass'></i>
              Search
            </a>
          </li>
          <li class='nav-item dropdown'>
            <a
              class='nav-link dropdown-toggle'
              href='/profile'
              id='navbarDropdown'
              role='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              <i class='fas fa-user'></i>
              Profile
            </a>
            <ul
              class='dropdown-menu dropdown-menu-end'
              aria-labelledby='navbarDropdown'
            >
              <li>
                <a class='dropdown-item' href='/profile'>
                  <i class='fa-solid fa-user'></i>
                  Profile
                </a>
              </li>
              <li>
                <hr class='dropdown-divider' />
              </li>
              <li>
                <a class='dropdown-item' href='#'>
                  <i class='fas fa-edit'></i>
                  Edit Profile
                </a>
              </li>
              {{!-- <li>
                <hr class='dropdown-divider' />
              </li>
              <li>
                <a class='dropdown-item logout-link' href='#'>
                  <i class='fas fa-sign-out-alt'></i>
                  Logout
                </a>
              </li> --}}
            </ul>
          </li>
          {{!-- 
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="fas fa-user"></i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-edit"></i>
              Edit Profile
            </a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link logout-link">
              <i class="fas fa-sign-out-alt"></i>
              Logout
            </a>
        </ul>
      </div>
    </div>
  </nav>
  {{!-- {{/if}} --}}
  <main>
  {{{ body }}}
  </main>
<!--Search Modal-->
  <div
    class='modal fade'
    id='exampleModal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
  >
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h1 class='modal-title fs-5' id='exampleModalLabel'>Search for a user</h1>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <div class='input-group mb-3'>
            <span class='input-group-text' id='basic-addon1'>@</span>
            <input
              type='text'
              class='form-control user_searches'
              placeholder='Username'
              aria-label='Username'
              aria-describedby='basic-addon1'
            />
          </div>
        </div>
        <div class='modal-footer'>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'
          >Close</button>
          <button type='button' class='btn btn-primary search_btn'>Search</button>
        </div>
      </div>
    </div>
  </div>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/search.js"></script>

</body>
</html>