<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i class="fab fa-icon"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-button" href="/profile">
                <i class="fas fa-user"></i> Profile
              </a>
            </li>
             <li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-magnifying-glass"></i> Search</a>
    </li>
    <li class="nav-item">
    <a class="nav-link logout-link" href="/logout" >
      <i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
           
          </ul>
        </div>
      </div>
    </nav>

<section class='container'>
  <div class='row'>
    <div class='col-sm-12 d-flex flex-column'>
      <h1>AnswerHub Chat</h1>
      <h2 class='sender'>AI Assistant</h2>
      <p class='timestamp' id='timestamp'></p>
      <div class='messages-container' id='message-container'>
        <div class='message' id='messages'>
          <div class='p-1 m-1'>
            <p class='p-0 m-0'>AI Assistant: </p>
            <div class='content'>
              <p class='p-0 m-0'>Hi there! What's your coding question?</p>
            </div>
          </div>
        </div>
        <div class='input-area d-flex flex-row'>
          <input
            type='text'
            id='user-input'
            class='form-control col-sm-9'
            placeholder='Type a message...'
          />
          <button type='submit' id='sendBtn' class='btn btn-primary col-sm-2'>
            <i class='justify-self-center fa fa-paper-plane'></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script src='/js/ai-front-end.js'></script>