<div class='display-flex justify-center'>
  <h2>AnswerBot AI</h2>
</div>
<div class='display-flex justify-center flex-column'>
    <input type='text' class="py-5 my-4">
    <input type='text' class="py-5 my-4">
    <input type="text" class="py-5">
    <button>Send</button>
</div>