<!DOCTYPE html>
<html lang="en">
<head>
  <title>Comment Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <h1 class="my-4">Comments</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Post Title</h5>
                        <p class="card-text">This is the post content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis magna tempor, sagittis justo vitae, posuere dolor.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Comment Section</h5>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" id="comment" rows="3" placeholder="Write your comment here"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Post Comment</button>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Comments</h5>
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="https://via.placeholder.com/50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">User Name</h5>
                                This is a comment. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis magna tempor, sagittis justo vitae, posuere dolor.
                            </div>

                            
                        </div>
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="https://via.placeholder.com/50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">User Name</h5>
                                This is another comment. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis magna tempor, sagittis justo vitae, posuere dolor.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
