{{#if logged_in}}
{{#each questions as |question|}}
<div class="row project">
  <div class="col-md-5">
    <h2>{{question.user.name}}</h2>
  </div>
  <div class="col-md-7">
    <p>
      {{question.description}}
    </p>
  </div>
  <div class="w-100 my-4 display-flex justify-space-around">
    <a href="/question/{{question.id}}">Comment</a>
    <button>Like</button>
  </div>
</div>
{{/each}}
{{else}}
<div class="display-flex justify-center align-center py-5 flex-column">
  <h2>Please login to gain access to post and to use our support!</h2>
  <a href="/login"><span>👉</span>Login<span>👈</span></a>
</div>
{{/if}}

