<div class='card'>
  <div class='card-body'>
    <div class='media mb-3'>
      <img
        src='https://via.placeholder.com/50'
        class='mr-3 rounded-circle'
        alt='User Picture'
      />
      <div class='media-body'>
        <h5 class='mt-0'>Jane Smith </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non
          diam velit. Curabitur lacinia felis eu vehicula dapibus. In hac
          habitasse platea dictumst. Proin blandit congue est vel porttitor.
          Morbi ullamcorper mi vel nibh dignissim, vel pulvinar mauris
          pellentesque. Nunc posuere vel velit sed pellentesque.</p>
        <div class='mt-3'>
          <a href='#'><i class='far fa-comment'></i> 10</a>
          <a href='#'><i class='far fa-heart'></i> 30</a>
        </div>
      </div>
    </div>
  </div>
</div>
