<div class='text-center'>
  <h2>{{user.name}}</h2>
  <p>{{content}}</p>
  <input type='text' class='comment_box'>
  <button>Submit</button>

  {{#each comments as |comment|}}
  <h4>{{comment.body}}</h4>
  {{/each}}
</div>
