{{> profile-navigation}}
<section class="container mt-4">
  <div class="row">
    <div class="col-sm-12">
      {{#each searches as |search|}}
      <div class='col-md-12 d-flex flex-column p-2 m-1'>
        <div class='card profile-card'>
          <div class='profile-img row align-items-center'>
            {{#if search.profilePic}}
            <img 
              src='/uploads/{{search.profilePic}}' 
              alt='{{search.name}} Profile Image' 
              class="rounded-circle"
              width="150"
            />
            {{/if}}
          </div>
          <div class='profile-name'>
            <h4><a href="mailto:{{search.email}}">{{search.name}}</a></h4>
          </div>
          <div class='profile-bio'>
            <p>Javascript | C++ | Python</p>
          </div>
          <div class='profile-bio'>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
              nihil optio aut veritatis. Dolore odit adipisci aperiam quidem
              consectetur dolores!</p>
          </div>
        </div>
      <div>
      {{/each}}
    </div>
  </div>
</section>


