<section class='container'>
  <div class='d-flex justify-content-center'>
    <div class='row'>
      <div class='col text-center'>
        <img
          src='./screenshots/IMG_6445.PNG'
          class='letter-logo'
          width='300px'
          height='300px'
          alt='description of image'
        />
      </div>
    </div>
  </div>

  <div class='row justify-content-center signup_form'>
    <div class='col-md-6 col-lg-4'>
      <div class='card'>
        <div class='card-body'>
          <h3 class='card-title text-center mb-3'>Sign Up Below</h3>
          <form>
            <div class='mb-3'>
              <label for='name-signup' class='form-label'>Name</label>
              <input type='text' class='form-control' id='name-signup' />
            </div>
            <div class='mb-3'>
              <label for='username-signup' class='form-label'>Email</label>
              <input type='text' class='form-control' id='username-signup' />
            </div>
            <div class='mb-3'>
              <label for='password-signup' class='form-label'>Password</label>
              <input type='password' class='form-control' id='password-signup' />
            </div>
            <button type='submit' class='btn btn-primary w-100'>Sign Up</button>
          </form>
          <div class='text-center mt-3'>
            <a href='#'>Forgot password?</a>
          </div>
        </div>
      </div>
      <div class='card mt-3'>
        <div class='card-body text-center'>
          Have an account?
          <a href='/login'>Sign in instead!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/signup.js"></script>